
<div class="catalog-books">
  <div class="catalog-books__sort">
    <label class="catalog-books__sort-title" for="sort">Сортировать:</label>
    <select class="catalog-books__select" id="sort" size="1">
      <option class="catalog-books__options">по популярности</option>
      <option class="catalog-books__options">по названию</option>
      <option class="catalog-books__options">по новизне</option>
    </select>
  </div>
  <ul class="books">
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-iron-king.jpg" alt="Фото книги - &quot;Железный король&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Кагава Д.</p>
          <h3 class="books__name">Железный король</h3>
          <p class="books__description">Меган удалось победить Железного короля, и теперь она во Дворце</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">3.8</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="iron-king.html">Подробнее</a><span class="books__pages">416 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-fox-hole.jpg" alt="Фото книги - &quot;Лисья нора&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Сакавич Н.</p>
          <h3 class="books__name">Лисья нора</h3>
          <p class="books__description">Команда Лисов—игроки экси, которые пытаются выиграть чемпионат мира</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">4.2</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">336 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-just-masa.jpg" alt="Фото книги - &quot;Просто маса&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Акунин Б.</p>
          <h3 class="books__name">Просто маса</h3>
          <p class="books__description">Масу ожидают невероятные потрясения и невероятные приключения</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">4.5</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">448 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-green-light.jpg" alt="Фото книги - &quot;Зеленый свет&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Макконахи М.</p>
          <h3 class="books__name">Зеленый свет</h3>
          <p class="books__description">Как быть честным. Как избежать стресса. Как радоваться жизни</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">3.9</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">320 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-sun-midnight.jpg" alt="Фото книги - &quot;Солнце полуночи&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Майер С. </p>
          <h3 class="books__name">Солнце полуночи</h3>
          <p class="books__description">История любви и приключений от лица Эдварда</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">3.5</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">784 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-second-life.jpg" alt="Фото книги - &quot;Вторая жизнь Уве&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Бакман Ф.</p>
          <h3 class="books__name">Вторая жизнь Уве</h3>
          <p class="books__description">Откуда берутся зануды и склочники? Внутри зреет обида на мир</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">4.4</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">384 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-istrebitel.jpg" alt="Фото книги - &quot;Истребитель&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Быков Д.</p>
          <h3 class="books__name">Истребитель</h3>
          <p class="books__description">Роман о советских летчиках, &quot;соколах Сталина&quot;</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">3.9</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">576 страниц</span></div>
        </div>
      </div>
    </li>
    <li class="books__item">
      <div class="books__inner"><img class="books__img" src="undefinedbook-lavr.jpg" alt="Фото книги - &quot;Лавр&quot;" width="221" height="221"/>
        <div class="books__box">
          <p class="books__author">Водолазкин Е.</p>
          <h3 class="books__name">Лавр</h3>
          <p class="books__description">Возможно ли любовью и жертвой спасти душу человека?</p>
          <p class="books__stars">
            <!-- svg иконка--><span class="books__star">4.1</span>
          </p>
          <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">448 страниц</span></div>
        </div>
      </div>
    </li>
  </ul>
</div>