
<section class="best-books">
  <div class="container">
    <h2 class="best-books__title section__title">Лучшее</h2>
    <ul class="books">
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbooks-anxious-people.jpg" alt="Фото книги - &quot;Тревожные люди&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Бакман Ф.</p>
            <h3 class="books__name">Тревожные люди</h3>
            <p class="books__description">Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">5.0</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">416 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-sapiens.jpg" alt="Фото книги - &quot;Sapiens&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Харари Ю.</p>
            <h3 class="books__name">Sapiens</h3>
            <p class="books__description">Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.9</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">520 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-institute.jpg" alt="Фото книги - &quot;Институт&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Кинг С.</p>
            <h3 class="books__name">Институт</h3>
            <p class="books__description">Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.8</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">608 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-normal-peoples.jpg" alt="Фото книги - &quot;Нормальные люди&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Руни С.</p>
            <h3 class="books__name">Нормальные люди</h3>
            <p class="books__description">О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.7</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">288 страниц</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>