
<section class="new-books">
  <div class="container">
    <h2 class="new-books__title section__title">Новинки</h2>
    <ul class="books">
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefineda-life-of-pleasure.jpg" alt="Фото книги - &quot;Жизнь в удовольствие&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Палиенко А.</p>
            <h3 class="books__name">Жизнь в удовольствие</h3>
            <p class="books__description">Автор собрал в этой книге все свои знания, актуальные в современном мире</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">3.5</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">208 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-kingdoms.jpg" alt="Фото книги - &quot;Королевство&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Несбё Ю.</p>
            <h3 class="books__name">Королевство</h3>
            <p class="books__description">В норвежском городке, затерянном в горах, течет сонная, мирная жизнь</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.8</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">576 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-transhumanism.jpg" alt="Фото книги - &quot;Transhumanism inc.&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Пелевин В.</p>
            <h3 class="books__name">Transhumanism inc.</h3>
            <p class="books__description">В будущем богатые люди смогут отделить свой мозг от старящегося тела</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">3.9</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">608 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-feelings-of-shame.jpg" alt="Фото книги - &quot;Чувство стыда&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Санд И.</p>
            <h3 class="books__name">Чувство стыда</h3>
            <p class="books__description">Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.1</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">170 страниц</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>