extends layout/layout

block content
  .content
    main.index-page
      include components/hero

      include components/new-books/new-books

      include components/best-books/best-books

      include components/reviews/reviews

      include components/about/about