extends layout/layout

block variables
  - var title = "Главная страница"
  - var pageClass = "index-page"
  - var pathContentImg = 'static/images/content/'
  - var pathCommonImg = 'static/images/common/'
  - var userLogin = false

block content
  .content
    main(class=pageClass)
      include components/hero

      include components/new-books/new-books

      include components/best-books/best-books

      include components/reviews/reviews

      include components/about