extends layout/layout

block content
  .content
    main.book-page
      include components/breadcrumbs

      include components/book/book
     
      include components/reviews/critique

      include components/recently-viewed/recently-viewed
