
<section class="recently-viewed">
  <div class="container">
    <h2 class="recently-viewed__title section__title">Вы недавно смотрели</h2>
    <ul class="books">
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-istrebitel-big.jpg" alt="Фото книги - &quot;Истребитель&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Быков Д.</p>
            <h3 class="books__name">Истребитель</h3>
            <p class="books__description">Роман о советских летчиках, &quot;соколах Сталина&quot;</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">3.9</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">576 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-feelings-of-shame.jpg" alt="Фото книги - &quot;Чувство стыда&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Санд И.</p>
            <h3 class="books__name">Чувство стыда</h3>
            <p class="books__description">Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.1</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">170 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-second-life-big.jpg" alt="Фото книги - &quot;Вторая жизнь Уве&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Несбё Ю.</p>
            <h3 class="books__name">Вторая жизнь Уве</h3>
            <p class="books__description">Откуда берутся зануды и склочники? Внутри зреет обида на мир</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">4.4</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">384 страниц</span></div>
          </div>
        </div>
      </li>
      <li class="books__item">
        <div class="books__inner"><img class="books__img" src="undefinedbook-transhumanism.jpg" alt="Фото книги - &quot;Transhumanism inc.&quot;" width="275" height="320"/>
          <div class="books__box">
            <p class="books__author">Пелевин В.</p>
            <h3 class="books__name">Transhumanism inc.</h3>
            <p class="books__description">В будущем богатые люди смогут отделить свой мозг от старящегося тела</p>
            <p class="books__stars">
              <!-- svg иконка--><span class="books__star">3.9</span>
            </p>
            <div class="books__wrapper"><a class="books__link" href="#">Подробнее</a><span class="books__pages">608 страниц</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>